<div id="title_<%=listItem.last%>"         class="metaData_title"><%=listItem[0]%></div>
<div id="published_at_<%=listItem.last%>"  class="metaData_published_at">Published @ : <%=listItem[4].to_s(:long) %></div>
<div id="author_name_<%=listItem.last%>"   class="metaData_author_name">Author : <%=listItem[6]%></div>
<div id="image_<%=listItem.last%>"         class="metaData_image"><img src="<%=listItem[3]%>"/></div><br/>
<div id="description_<%=listItem.last%>"   class="metaData_description"><%=listItem[2]%></div>
